@import "../../styles/variable.scss";

.navigation {

    
    &Checkbox {
        display: none;
    }

    &Btn {
        background-color: $c-w;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 3000;
        box-shadow: 0 1rem 3rem rgba($c-b, 0.5);
        text-align: center;
        cursor: pointer;
    }

    &Background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($c-p, $c-c);
        z-index: 2000;
        transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    }

    &Navig {
        height: 100vh;
        // width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2555;
        overflow: hidden;
        opacity: 0;
        width: 0;
        transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &List {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &Item {
        margin: 1rem;
    }

    &Lk {


        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 700;
            color: $c-w;
            padding: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg,
                transparent,
                transparent 0%,
                transparent 50%,
                $c-w 50%
            );
            background-size: 250%;
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $c-p;
            transform: translateX(1rem);
        }
    }

    &Icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $c-p;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }

    &Checkbox:checked ~ &Background {
        transform: scale(80);
    }

    &Checkbox:checked ~ &Navig {
        opacity: 1;
        width: 100%;
    }

    &Btn:hover &Icon::before {
        top:-1rem;
    }

    &Btn:hover &Icon::after {
        top:1rem;
    }

    &Checkbox:checked + &Btn &Icon {
        background-color: transparent;
    }
    
    &Checkbox:checked + &Btn &Icon::before {
        top: 0;
        transform: rotate(45deg)

    }

    &Checkbox:checked + &Btn &Icon::after {
        top: 0;
        transform: rotate(-45deg)
        
    }
}


@media screen and (max-width: 680px) {
    .navigationLink{
        &:link,
        &visited {
            font-size: 2rem;

        }
    }

    .navigation{

        &Btn{
            top: 3rem;
            right: 3rem;
        }

        &Background{
            top: 3.5rem;
            right: 3.5rem;
        }
            
    }
}