.shopPage{
    img{
        padding: 7rem;
        width: 50%;
    }

    .shopCard{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    h4 {
        text-align: center;
    }
}