@import "../mixin";



.shopPage{
    img{
        padding: 5rem;
        width: 600px;
        @include respond(phone) {
            width: 100px;// <1200
            padding: 2rem;
        }
    }

    .shopCard{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p{
            padding: 0.5rem;
        }
    }
    h4 {
        text-align: center;
    }

    a{
        text-decoration: none;
    }

    span{

        font-weight: bold;
        color: black;
        font-size: 1.4 rem;
    }

}