@import "../../styles/mixin";

.shopPage {
    img {
        padding: 5rem;
        width: 50%;
        @include respond(phone) {
            width: 30%; // <1200
            padding: 2rem;
        }
    }

    .blockText {
        width: 50%;
    }

    .logoImg {
        width: 100%;
        left: 50%;
        top: 120%;
        transform: translate(-50%);

        margin: auto 0;
        position: absolute;
        display: inline-block;

        opacity: 0.1;
    }

    .shopCard {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p {
            padding: 0.5rem;
        }

        @include respond(phone) {
            width: 80%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto ;

            p{
                padding-bottom: 3rem ;
            }
            
            .blockText{
                
                width: 100%;
            }
            .blockImage{
                margin: 0 auto;
            }
        }
    }
    h4 {
        text-align: center;
        padding-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }

    span {
        font-weight: bold;
        color: black;
        font-size: 1.4 rem;
    }
}
