.__aboutContent {
    margin-top: -30rem;
    text-align: justify;


}
    
.logoImg{
    width: 80%;
    left: 50%;
    top: 60rem;
    transform: translate(-50%);

    margin: auto 0;
    position: absolute;
    display: inline-block;

    opacity: 0.1;
}