@import "../styles/variable";

.homePageContent {
    margin-top: -23rem;
    // background-color: rgb(72, 153, 190);
    

    .contentPres {
        padding-top: 20rem;
    }
}

.bgVideo {
    // padding-top: -30rem;
    position: absolute;
    // top: 300;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    overflow: hidden;

    &Cont {
        height: 150%;
        width: 100%;
        object-fit: cover;
    }
}
