$c-p: #84DCC6;
$c-s:#D6EDFF;
$c-t: #ACD7EC;
$c-f: #8B95C9;
$c-c:#478978;


$c-b: #272323;
$c-w: #ebe7e7;
$c-g:#ececf8;
$c-g-b: #424254;

$c-d:  rgba(233, 65, 65,1);
$c-s:  rgba(68, 204, 141,1);

$c-danger:  rgba(233, 65, 65, 0.45);
$c-success:  rgba(68, 204, 141, 0.45);

$c-danger-l:  rgba(233, 65, 65, 0.1);
$c-success-l:  rgba(68, 204, 141, 0.1);



//font
$default-font-size: 1.6rem;